node_modules
package-lock.json
pnpm-lock.yaml

.astro
.git
build/
dist/
.output/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm
.pnpm-store

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

CLAUDE.md
CLAUDE.local.md
